body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

section {
  margin: 20px auto;
  text-align: center;
}

.color-div {
  height: 60px;
  background-color: green;
}

video {
  width: 60%;
}
