body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

section {
  margin: 20px auto;
  text-align: center;
}

#object-container {
  margin: 20px auto;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  text-align: center;
}

.my-div {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  align-items: center;
  text-align: center;
}
