body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

section {
  margin: 20px auto;
  text-align: center;
}

#box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  margin: 40px auto;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  /* this makes sure our text is centered */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: cyan;
  color: white;
}
