body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

section {
  margin: 20px auto;
  text-align: center;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  /* this makes sure our text is centered */
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: cyan;
  color: white;
}

#pokemon {
  display: none;
}
.capitalize {
  text-transform: capitalize;
}

#type {
  width: 10%;
  margin: 0 auto;
}
